<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('headers.ejs') %>
</head>
<body>
    <%- include('sidebar.ejs') %>

    <!-- Page Content -->
    <div class="container">
        <%- defineContent('content') %>
    </div>

    &nbsp;

    <%- include('footer.ejs') %>
</body>
</html>